<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        a {
            display: block;
            margin-top: 20px;
            color: #2980b9;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Добро пожаловать в Flask приложение!</h1>
    <ul>
        <li><a href="/books">Список книг</a></li>
        <li><a href="/books/1">Информация и поиск</a></li>
        <li><a href="/books/add">Добавить книгу</a></li>
    </ul>
</body>
</html>